<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/ta03.css">
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
      </div>
    </div>
    <div class="container">
      <form action="/ta03/search" method="GET">
        <input type="text" name="item">
        <button type="submit">Search</button>
      </form>
      <ul class="images">
      <% data.forEach(image => { %>
        <li>
          <h2><%= image.name %></h2>
          <p><strong>$<%= image.price %></strong></p>
          <img src="<%= image.imageUrl %>" alt="<%= image.name %>">
          <ul class="tags">
            <% image.tags.forEach(tag => { %>
              <li><%= tag %></li>
            <% }); %>
          </ul>
          <p><%= image.description %></p>
        </li>
      <% }); %>
      </ul>
    </div>


</body>

</html>